@using InterWebs.Extension

@{
    ViewBag.Title = "Game - Sang Nguyen";
}

<div id="Game">
    <div style="display: none;" data-bind="visible: !user() || user().length <= 0">
        <div class="alert alert-warning row" role="alert">
            <div class="col-xs-12">
                <div class="pull-left">
                    <strong data-i18n="Info.HeadsUp"></strong>
                </div>
                <div class="pull-left margin-left-10">
                    <p class="hidden-md hidden-print hidden-lg" data-i18n="Game.EnterUsernameToPlay"></p>
                    <p class="hidden-xs hidden-sm" data-i18n="Game.EnterUsernameToPlayAndChat"></p>
                </div>
            </div>
            <div class="col-xxs-12 col-xs-7 col-sm-6 col-md-5 col-lg-4">
                <form class="input-group">
                    <input type="text" class="form-control" maxlength="15" data-bind="textInput: newUsername, attr: {placeholder: $.t('Info.EnterUserName')}, executeOnEnter: setUsername">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-bind="enable: newUsername() && newUsername().length > 0">
                            <i class=" fa fa-check fa-lg" data-bind="css: {'checkmark' : newUsername() && newUsername().length > 0}, click: setUsername"></i>
                        </button>
                    </span>
                </form>
            </div>
        </div>
    </div>
    <div style="display: none;" data-bind="visible: showWelcomeMessage()">
        <div class="alert alert-success row" role="alert">
            <div class="col-xs-12">
                <div class="pull-left">
                    <strong data-bind="text: $.t('Info.Welcome', {user: user()})"></strong>
                </div>
                <div class="pull-left margin-left-10">
                    <p class="hidden-xs hidden-sm" data-bind="text: $.t('Info.WelcomeUser')"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-info" data-bind="with: gameBoxView">
            <div class="panel-heading">
                <h3 class="panel-title" data-i18n="Game.GameRoom"></h3>
            </div>
            <div class="panel-body loadingBody panel-display" data-bind="visible: !loadedGame()">
                <div class="loadingSpinner">
                    <i class="fa fa-3x fa-spinner fa-spin"></i>
                </div>
            </div>
            <table class="gameboard" style="display: none" data-bind="visible: loadedGame">
                <tbody>
                    <tr class="row game-row" data-bind="with: players[0]">
                        <td style="width: 20%">
                            <h3 class="playerinfo" data-bind="text: name"></h3>
                        </td>
                        <td class="center-content" data-bind="foreach: cards">
                            <img class="game-card" data-bind="click: $parents[1].cardClicked, attr:{src: src}, css: {'card-selected-top': $parent.selectedCard() == index}" alt="">
                        </td>
                        <td style="width: 20%"></td>
                    </tr>
                    <tr class="row game-info-row">
                        <td data-bind="attr: { colspan: 3 }">
                            <h3 class="gameinfo" data-bind="text: roundMessage"></h3>
                        </td>
                    </tr>
                    <tr class="row game-row" data-bind="with: players[1]">
                        <td style="width: 20%">
                            <h3 class="playerinfo" data-bind="text: name"></h3>
                        </td>
                        <td class="center-content" data-bind="foreach: cards">
                            <img class="game-card" data-bind="click: $parents[1].cardClicked, attr:{src: src}, css: {'card-selected-bottom': $parent.selectedCard() == index}" alt="">
                        </td>
                        <td style="width: 20%"></td>
                    </tr>
                </tbody>
            </table>
            <div class="panel-footer">
                <button class="btn btn-default" type="button" data-bind="disable: gameFull() || $parent.guestUser(), visible: !playing(), text: $.t('Game.Join'), click: joinGame"></button>
                <button class="btn btn-default" type="button" style="display: none;" data-bind="visible: playing(), text: $.t('Game.Leave'), click: leaveGame"></button>
                <button class="btn btn-default" type="button" style="display: none;" data-bind="visible: playing(), text: $.t('Game.Shuffle'), click: shuffleDeck"></button>
            </div>
        </div>
    </div>
    <div class="col-md-4 hidden-xs hidden-sm">
        <div class="panel panel-info">
            <div>
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li>
                        <a href="#sidetab-users" data-toggle="tab" data-i18n="Game.ActiveUsers"></a>
                    </li>
                    <li class="active">
                        <a href="#sidetab-chat" data-toggle="tab" data-i18n="Game.Chat"></a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane username-list panel-body panel-side-info" id="sidetab-users" data-bind="foreach: activeGameUsersView.activeUsers">
                        <h5 data-bind="text: $data" style="font-weight: bold"></h5>
                    </div>
                    <div class="tab-pane active" id="sidetab-chat" data-bind="with: chatBoxView">
                        <div id="ChatMessages" style="display: none" class="panel-body pre-scrollable panel-display" data-bind="visible: loadedMessages, foreach: chatMessages">
                            <h5 style="font-weight: bold" data-bind="text: user + ':'"></h5>
                            <p data-bind="text: '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + text"></p>
                            <hr />
                        </div>
                        <div class="panel-footer">
                            <form class="input-group">
                                <input type="text" class="form-control" data-bind="enable: loadedMessages && !$parent.guestUser(), textInput: message, attr: {placeholder: $.t('Chat.EnterMessage')}, hasFocus: enterMessageFocus, executeOnEnter: sendMessage">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" data-bind="text: $.t('Chat.Send'), enable: message().length > 0 && !$parent.guestUser(), click: sendMessage"></button>
                                </span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/signalr/hubs"></script>
<script>
    $(function () {
        var vm = new IW.All.GameViewModel({
            user: @Html.JavaScriptSerialize(ViewData["UserName"]),
            cards: @Html.JavaScriptSerialize(ViewData["Cards"]),
            cardPath: @Html.JavaScriptSerialize(ViewData["CardPath"]),
            backCardPath: @(Html.JavaScriptSerialize(ViewData["BackCardPath"])),
            blankCardPath: @Html.JavaScriptSerialize(ViewData["BlankCardPath"]),
            chatMessages: @Html.JavaScriptSerialize(ViewData["ChatMessages"]),
            storeMessageUrl: @Html.JavaScriptSerialize(Url.Action("StoreChatMessage")),
            setUsername: @Html.JavaScriptSerialize(Url.Action("SetUsername"))
        });

        ko.applyBindings(vm, $('#Game')[0]);
    });
</script>